body {
  background-color: #26272BFF;
  color:#59A7E1FF;
}

.bot a {
  text-decoration: none;
}

.logo_insta {
  width: 8%;
  float: left;
}

.gallery .row div{
  padding: 0.1em;
  margin: 0;
}

#image1, #image2 {
  height: 150px;
  background-color: #26272BFF;
  color: #fff;
}

#image1 {
  margin-bottom: 0.2em;
}

#image3 {
  height: 303px;
  background-color: #26272BFF;
  color: #fff;
}

.collage {
  margin: 0;
  padding: 0em;
  background-color: #fff;
/*  overflow: hidden;
*/}

.left-img {
  padding-right: 0.2em; 
}

.right-img {
  padding-left: 0.2em;
}