body {
  background-color: #26272BFF;
  color:#59A7E1FF;
}

.bot a {
  text-decoration: none;
}

.title-mid {
  padding-top: 1em;
  padding-bottom: 1em;
}

.logo_insta {
  width: 8%;
  float: left;
}

.img-collage { 
  width: 100%;
  height: 100%;  
}

.gallery .row div{
  padding: 0.1em;
  margin: 0;
}

#image1, #image2 {
  height: 23vh;
  background-color: #26272BFF;
}

#image1 {
  margin-bottom: 0.2em!important;
}

#image2 {
  margin-top: 0.2em!important;
}

#image3 {
  height: 100%;
  background-color: #26272BFF;
}

#image1, #image2, #image3 {
  color: #fff;
  margin: 0;
  padding: 0;
}

.collage {
  margin: 0;
  padding: 0;
  background-color: #fff;
/*  overflow: hidden;
*/}

.left-img {
  padding-right: 0.4em; 
}

.right-img {
  padding-left: 0;
}